<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669312663735-r1r8jt2kl1immaqebrot2lbp21dqg4td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669312663735-r1r8jt2kl1immaqebrot2lbp21dqg4td</string>
	<key>API_KEY</key>
	<string>AIzaSyBKj2xLOAkLi8_K18LStjlfuStayEzfT_g</string>
	<key>GCM_SENDER_ID</key>
	<string>669312663735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.Heroi</string>
	<key>PROJECT_ID</key>
	<string>heroes-f4893</string>
	<key>STORAGE_BUCKET</key>
	<string>heroes-f4893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669312663735:ios:ba206b82197b21d6ff0d32</string>
</dict>
</plist>